<app-header></app-header>

<main>
  <div class="container-fluid">
    <div class="row mt-3">
      <div class="col-lg-3">
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1">Buy Quantiy</span>
          <input type="number" step="any" min="0" class="form-control" placeholder="quantity" aria-label="Username" aria-describedby="basic-addon1">
        </div>
      </div>
      <div class="col-lg-3">
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1">Buy Price</span>
          <input type="number" step="any" min="0" class="form-control" placeholder="price" aria-label="Username" aria-describedby="basic-addon1">
        </div>
      </div>
    </div>

    <div class="row mt-3">
        <span class="glyphicon glyphicon-plus" ></span>
        <div class="col-lg-6">
        <button type="button" class="btn btn-warning">Average</button>
      </div>
    </div>

  </div>
</main>
