<div style="text-align:center">
  <h1>
    RETRIEVE YOUR BOOKING
  </h1>
</div>

<form [formGroup]="myForm" novalidate (ngSubmit)="getBookingStatus(myForm.value, myForm.valid)">
  <div>
    <label>Booking Code</label>
    <input type="text" formControlName="bookingCode">
    <small [hidden]="myForm.controls.bookingCode.valid || myForm.controls.bookingCode.pristine">
          Booking code is required (minimum 5 characters, maximum 6 characters).
    </small>
    <br/>
    <label>Family Name</label>
    <input type="text" formControlName="familyName">
    <small [hidden]="myForm.controls.familyName.valid || myForm.controls.familyName.pristine">
          Family Name is required (minimum 2 characters, maximum 30 characters).
    </small>

  </div>
  <button type="submit" [disabled]="!myForm.controls.bookingCode.valid || !myForm.controls.familyName.valid">Retrieve booking</button>
</form>
